.slideshow-container {
    pointer-events: none;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* service card section */
.service-card {
    display: flex;
    margin-right: 20px;
    /* Adjust the margin value to control the space between service cards */
    margin: 15px;
    background-color: rgba(0, 70, 128, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 2px;
    max-width: 60%;
}

.service-card:last-child {
    margin-right: 0;
    /* Remove the margin on the last service card in the row */
}

.service-card img {
    max-width: 280px;
    min-width: 280px;
    max-height: 200px;
    filter: brightness(1.2);
    /* Adjust brightness */
    filter: contrast(1.2);
    /* Adjust contrast */
    filter: saturate(1.2);
    /* Adjust saturation */
    border-radius: 5px;
    border: 2px solid white;
    margin: 10px 15px 10px 5px;
    /* bottom right top left */
    justify-content: center;
    /* Center horizontally */
    pointer-events: none;

}

/* Setting the styles for the pricing box */
.pricing-box {
    display: flex;
    padding: 10px;
    right: 0;
    margin-left: auto;
}

.price-marker {
    border-radius: 5px;
    background-color: red;
    /* Red marker background color */
    color: white;
    /* White text color */
    width: 40px;
    /* Marker width */
    height: 40px;
    /* Marker height */
    display: flex;
    align-items: center;
    /* Align in height */
    justify-content: center;
    /* Align in width */
}


.seemorebtn {
    background-color: rgba(0, 70, 128, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.seemorebtn:hover {
    font-size: 20px;
    transition: 0.3s;
}

.service-details {
    color: rgba(245, 222, 179, 0.9);
    font-size: 18px;
}

.service-details p {
    font-size: 20px;
}

/* Big game Fishing section */
.about-us-biggamefishing {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    margin-top: 2%;
}

.about-us-biggamefishing h1 {
    margin-right: 20px;
    margin-left: 20px;
}

.about-us-biggamefishing a {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-us-biggamefishing a:hover {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    color: white;
}

.service-image {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

@media (max-width: 1344px) {
    .about-us-biggamefishing {
        flex-direction: column;
        /* Stack elements vertically when viewport width is lower than 1344px */
        max-width: 50%;
    }

    .about-us-biggamefishing h1 {
        margin-right: 0;
        /* Reset the margin to remove horizontal spacing */
    }
}

@media (max-width: 600px) {
    .about-us-biggamefishing {
        flex-direction: column;
        /* Stack elements vertically when viewport width is lower than 1344px */
        max-width: 70%;
    }

    .about-us-biggamefishing h1 {
        margin-right: 0;
        /* Reset the margin to remove horizontal spacing */
    }
}